.product-form {
  width: 20rem;
  max-width: 90%;
  margin: 0 auto;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid #6495ed;
  font: inherit;
  border-radius: 2px;
}

button {
  font: inherit;
  color: #fa8072;
  border: 1px solid #fa8072;
  background: #fff;
  border-radius: 3px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #6495ed;
}
